

#countlabel{
    display: block;
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.button{
     margin-left: 30%;

}
#decreasebtn {
    display: inline-block;
    
    margin-block:10px ;
    padding: 15px 27px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  
  #decreasebtn:hover {background-color: #3e8e41}
  
  #decreasebtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#resetbtn {
    display: inline-block;
    margin-block:10px ;
    padding: 15px 45px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
      
  #resetbtn:hover {background-color: #3e8e41}
  
  #resetbtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#increasebtn {
    display: inline-block;
    margin-block:10px ;
    padding: 15px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  #increasebtn:hover {background-color: #3e8e41}
  
  #increasebtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }